<section class="todoapp">
			<header class="header">
				<h1>OtherWordly</h1>
				<input class="new-todo" placeholder="Your moment goes here" autofocus="">
			</header>
			<section class="main" style="display: block;">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				    <label for="toggle-all">Mark all as complete</label>
                        <ul class="todo-list"><li data-id="1557121987554" class="">
                            <div class="view"><input class="toggle" type="checkbox">
                                <label>add another item</label>
                                    <button class="destroy">
                                    </button>
                                    </div>
                                    </li>
                                    <li data-id="1557121998480" class="">
                                    <div class="view"><input class="toggle" type="checkbox">
                                    <label>stuff</label><button class="destroy">
                                    </button>
                                    </div>
                                    </li>
                                    </ul>
			</section>
		</section>