<section class="todoapp">
        <header class="header">
        <h1><%=@moment.post_title%><h1>
		    <h2><%=@moment.define%></h2>
	</header>
                <section class="main" style="display: block;">
                        <ul class="todo-list">
                                <li data-id="1557121998480" class="">
                                   <div class = "view">
                                      <label></label>
                                   </div>
                                </li>

                        </ul>
		</section>
</section>